<div class="h-full w-screen place-items-center bg-white py-20">
  <div class="container grid items-center relative lg:grid-cols-2">
    <div class="mb-8">
      <div
        class="flex items-center font-medium text-sm mb-5">
      Super Awesome Robots
      </div>

      <div class="mb-4 leading-tight text-2xl font-bold">
        That can move around and get to places.
      </div>
      <div class="lg:pr-32 font-normal">
        Using OpenNav you can have super awesome robots that move around and get to places without you doing anything.
      </div>
    </div>
  <iframe width="446" height="296" src="https://www.youtube.com/embed/OklxMhdDfe0" title="Navigation2 Video 165706" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
</div>
