---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import VerticalSwiper from "@components/VerticalSwiper.astro";
import { robotImages, robotImages2, robotImages3, robotImages4 } from "../content/robots";
import ReactSwiper from "@components/ReactSwiper.tsx";

---

<Layout title="Robots Using">
  <Container>
    <h1 class="text-center mt-8 font-bold text-5xl text-blackGrey">Robots Using</h1>
    <div class="h-screen grid grid-cols-4 gap-4 py-8 overflow-hidden">
      <VerticalSwiper images={robotImages} direction="up" />
      <VerticalSwiper images={robotImages2} direction="down" />
      <VerticalSwiper images={robotImages3} direction="up" />
      <ReactSwiper client:load images={robotImages4} />
    </div>
  </Container>
</Layout>

<script is:inline>
  console.log(window.innerHeight, window.innerWidth);
</script>