---
import Link from "./ui/link.astro";
---

<div
  class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    Built on ROS.
  </h2>
  <p class="text-slate-400 mt-4 text-lg md:text-xl">
    Our mission is to accelerate robotics commercialization and applied research via the democratization of professional quality mobile robotics technologies and resources. We aim to establish open, community-driven collaborations within and between industry and academia to develop these industry standardized references.
  </p>
  <div class="flex mt-5">
    <Link href="https://navigation.ros.org/getting_started/index.html" style="inverted">Get Started</Link>
  </div>
</div>
