---
import Link from "./ui/link.astro";

const CTATitle = "Powered By Open Navigation."
const CTADescription = `Open Navigation’s mission is to democratize professional-quality mobile robotics technology to propel the industry forward. We develop and maintain critical pieces of open-source mobile robotics and ROS infrastructure via our sponsors’ generous support. We also offer support services to help deploy or extend ROS 2, Nav2 for your product’s needs.`
const CTAButton = "Learn More"
---

<div
  class="bg-blackGrey p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    {CTATitle}
  </h2>
  <p class="text-white mt-4 text-lg md:text-xl">
    {CTADescription}
  </p>
  <div class="flex mt-5">
    <Link href=" https://www.opennav.org/" style="primary">{CTAButton}</Link>
  </div>
</div>
