---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Flexible Robot Behaviors",
    description:
      "Exploit Behavior Tree based executor model to design multiple complex robot behaviors",
    icon: "binary-tree",
  },
  {
    title: "State of the Art Algorithms",
    description:
      " Feasible route planning, predictive trajectory planning, dynamic obstacle avoidance & more",
    icon: "path",
  },
  {
    title: "All Robot Welcome",
    description:
      "Any shape or size; differential, omni, ackermann, or even legged",
    icon: "leg-wheel",
  },
  {
    title: "Easily Extensible",
    description:
      "Modular task server design empower application customizations and expansions.",
    icon: "blocks",
  },
  {
    title: "Product-Grade Quality",
    description:
      "Deployed at scale by 100+ companies worldwide with high automated test coverage",
    icon: "assembly-line",
  },
  {
    title: "First-Class Support",
    description:
      "Framework is actively maintained with professional support services available",
    icon: "open-nav-wheel",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    A production-grade and high-quality navigation framework.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
  It provides perception, planning, control, localization, visualization, and much more to build highly reliable autonomous systems. This will compute an environmental model from sensor and semantic data, dynamically path plan, compute velocities for motors, avoid obstacles, and structure higher-level robot behaviors. 
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full flex justify-center items-center  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white bg-black" height="24" width="24" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
