---
import { Picture } from "astro:assets";
import features from "content/contentItems/featureItems";
---

<div class="sm:mt-24 mt-12">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    A production-grade and high-quality navigation framework.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
  It provides perception, planning, control, localization, visualization, and much more to build highly reliable autonomous systems. This will compute an environmental model from sensor and semantic data, dynamically path plan, compute velocities for motors, avoid obstacles, and structure higher-level robot behaviors. 
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 flex justify-center items-center max-w-10 max-h-10">
          <Picture 
           src={item.icon} 
           alt={item.title}           
           loading="eager"
           format="avif"
          />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
