---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Reduce Collective Risk",
    description:
      "Control the robot to follows the path and dynamically adjust to avoid collision.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Increase Collective Reliability",
    description:
      "Plan a complete path through the environment, even kinematically feasibly for large robots.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Maps",
    description:
      "Load, serve, and store maps",
    icon: "bx:bxs-data",
  },
  {
    title: "Supply Needed and Modern Capabilities",
    description:
      "Build complicated and highly-customizable robot behaviors using behavior trees.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Visualization",
    description:
      "Convert sensor data into an environmental model of the world",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Localization",
    description:
      "Localize the robot on a provided map (SLAM provides the initial map)",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    A production-grade and high-quality navigation framework.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
  It provides perception, planning, control, localization, visualization, and much more to build highly reliable autonomous systems. This will compute an environmental model from sensor and semantic data, dynamically path plan, compute velocities for motors, avoid obstacles, and structure higher-level robot behaviors. 
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
