---
// @ts-ignore
import links from '../content/links/footerLinks';
import OpenNavLogo from '../assets/full-sticker-transparent.png'
import { Picture } from "astro:assets";
---



    <footer class="mt-10 pb-5 px-8 pt-20 bg-cyan-400/70">
      <div class="container mx-auto">
        <div class="grid grid-cols-1 justify-between gap-4 md:grid-cols-2">
          <div class="font-semibold text-lg">
            <Picture       
              src={OpenNavLogo}
              alt="Open Navigation"
              width="200"
              loading="eager"
              format="avif" 
            />
          </div>
          <div class="grid grid-cols-3 justify-between gap-4">
            {links.map(({ title, items }) => (
              <ul>
                <div
                  class="mb-3 font-medium underline"
                >
                  {title}
                </div>
                {items.map((link) => (
                  <li>
                    <a
                      class="py-1.5 font-normal hover:font-medium"
                      href={link.src}
                    >
                      {link.title}
                    </div>
                  </li>
                ))}
              </ul>
            ))}
          </div>
          <div class="px-5 font-medium opacity-70 text-lg">
            © Copyright 2024
          </div>
        </div>
      </div>
    </footer>
