---
import { Picture } from "astro:assets";
// import Nav2image from "assets/nav2_logo_powered.png";
import Nav2image from "../icons/nav_2.svg";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
import HeroVideo from "assets/videos/hero_video.mp4";
---

<main
class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
<video
  controls={false}
  autoplay
  class="object-cover lg:h-[504px] h-[364px] md:h-[464px] w-full top-20 absolute right-0 left-0 bottom-0"
  loop
  muted
  transition:persist><source src={HeroVideo} type="video/mp4" /></video
>
<div class="z-10">
  <h1
    class="text-xl text-white lg:text-5xl 2xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
    Nav2 - Your Open Source Navigation Framework
  </h1>
  <p class="text-xs sm:text-md md:text-lg text-white mt-4 max-w-xl">
    Nav2 is the professionally-supported successor of the ROS Navigation Stack
    deploying the same kinds of technology powering Autonomous Vehicles brought
    down, optimized, and reworked for mobile and surface robotics.
  </p>
  <div class="mt-6 flex flex-col sm:flex-row gap-3">
    <Link
      size="lg"
      style="primary"
      rel="noopener"
      href="https://github.com/ros-planning/navigation2"
      class="flex gap-1 items-center justify-center"
      target="_blank">
      <Icon class="text-white w-4 h-4" name="bx:bxl-github" />
      GitHub Repo
    </Link>
  </div>
</div>
</main>
