---
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
import HeroVideo from "assets/videos/hero_video.mp4";
---

<main
class="place-items-center">
<video
  controls={false}
  autoplay
  class="object-cover 2xl:h-[720px] xl:h-[560px] lg:h-[504px] h-[364px] md:h-[464px] w-full"
  loop
  muted
  transition:persist><source src={HeroVideo} type="video/mp4" />
  </video>
<div class="z-10 astronav-toggle absolute top-40 bottom-0 right-0 sm:left-20 max-sm:text-center max-sm:px-4">
  <h1
    class="text-xl text-white lg:text-5xl 2xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
    Nav2 - Your Autonomous Navigation Framework
  </h1>
  <p class="text-xs sm:text-md md:text-lg text-white mt-4 max-w-xl">
    Nav2 is the go-to industry-standard mobile robot navigation system, deploying Autonomous Vehicle technologies brought down, reworked, and optimized for mobile and surface robotics. As the successor to the ROS Navigation Stack, Nav2 builds on 15 years of heritage and is accelerating the robotics industry.
  </p>
  <div class="mt-6 flex gap-3 max-sm:justify-center">
    <Link
      size="lg"
      style="primary"
      rel="noopener"
      href="https://github.com/ros-planning/navigation2"
      class="flex gap-1 items-center justify-center"
      target="_blank">
      <Icon class="text-white w-4 h-4" name="bx:bxl-github" />
      GitHub Repo
    </Link>
  </div>
</div>
</main>
