---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";

export interface Props {
  title: string;
}


const { title } = Astro.props;

const makeTitle = "Nav2 - Nav2 1.0.0 documentation";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="../../public/nav2_48x48.png" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="Astroship is a starter website template for Astro built with TailwindCSS."
      canonical={"https://navigation.ros.org/index.html"}
      twitter={{
        creator: "@stevemacenski",
        site: "@navigation.ros.org/index.html",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: "https://navigation.ros.org/index.html",
          type: "website",
          title: `Nav2 - Nav2 1.0.0 documentation`,
          image: "../../public/nav2_48x48.png",
        },
        image: {
          alt: "OpenNav Homepage Screenshot",
        },
      }}
    />
  </head>
  <body class="overscroll-x-none">
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
